:root{
    --w0: rgba(0,0,0,0.0);
    --w5: rgba(255,255,255,0.05);
    --w10: rgba(255,255,255,0.1);
    --w20: rgba(255,255,255,0.2);
    --w50: rgba(255,255,255,0.5);
    --w70: rgba(255,255,255,0.7);
    --w80: rgba(255, 255, 255, .80);
    --w: white;

    --b05: rgba(0,0,0,0.05);
    --b10: rgba(0,0,0,0.10);
    --b20: rgba(0,0,0,0.2);
    --b50: rgba(0,0,0,0.5);
    --b80: rgba(0,0,0,0.8);
    --b: rgba(0,0,0,1);
    
    /* Modal */
    --modal-bg: #000;
    --ui-dark-1: #242424;
    --ui-dark-2: #3a3a3a;
    
    /* Relic */
    --card-width: 208px;
    --card-height: 60px;
    --card-offset: 0px;
    --section-width: 800px;
    
    /* Text */
    --text-color-dark: rgba(0,0,0,0.88);
    --text-color-light: rgba(255, 255, 255, 0.88);
    --yellow-accent: #F6C57B;

    /* Map */
    --sky-color: #9CBAD1;
    --ground-color: #6A7364;
    --map-width: 2304px;
    --perim-border: inset 0 0 0 2px black;

    /* BUTTON */
    --btn-size:       52px;
    --btn-bg:         #2F3138;
    --btn-bg-hover:   #23242b;
    --btn-border:     #949494;
}

/* DEBUG */
/*body *{*/
/*    box-shadow: inset 0 0 0 1px rgba(255,255,0,0.5);*/
/*}*/


/* TEXT GLOBAL */
html, p, span, h1, h2, h3, button{
    font-family: 'InterWeb', 'Arial', sans-serif;
    color: var(--text-color-light);

    -webkit-font-smoothing: antialiased;     /* Chrome, Safari, Edge (macOS) */
    -moz-osx-font-smoothing: grayscale;      /* Firefox (macOS) */
    text-rendering: optimizeLegibility;      /* Better kerning/ligatures */
}
h1, h2, h3 {
    color: var(--yellow-accent);
    font-family: 'GrenzeWeb', sans-serif;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 26px;
}
h3{
    font-size: 18px;
}

.dark-text *{
        color: var(--text-color-dark) !important;
}
.body-1 {
    font-size: 16px;
    line-height: 24px;
}
.body-2 {
    font-size: 14px;
    line-height: 20px;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: 600;
}


/* Layout */
*, html{
    /* Disables gestures */
    touch-action: none; 

    /*Removes browser stretching on scroll*/
    overscroll-behavior: none;  
}
*{
    padding: 0;
    margin: 0;

    /*scroll-behavior: smooth;*/

    /* Prevents flexbox resizing */
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box; 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

    /*height: 100vh;*/
    width: 100vw;
    min-width: min-content;
    /*overflow: hidden;*/

    background: linear-gradient(to bottom, var(--sky-color) 50%, var(--ground-color) 50%);
}


/*Common classes */
.hide {
    display: none !important;
}
.space-between{justify-content: space-between;}
.perim-border{
    box-shadow: inset 0 0 0 2px black;
}
.flex{
    display: flex;
}
.center{
    jsustify-content: center;
    align-items: center;
}
.row{
    flex-direction: row !important;
}


/* Button */
.button, button{
    height: 56px;

    min-width: 60px;
    padding: 0px 16px 0px 16px;

    border: 2px solid var(--w20);
    background-color: var(--w0);

    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 100%;
    text-align: center;
    z-index: 2;

    cursor: pointer;
}
button:hover{
    background-color: var(--w20) !important;
}

.button:disabled, button:disabled{
    pointer-events: none;
    opacity: 40%;
}

/* Needed for close btns and tab navigators */
.secondary-btn{
    background-color: var(--w0);
    border-radius: 0;
    border: none
}



/* Navigation */
#nav-wrapper{
    position: fixed;
    bottom: 8px;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    z-index: 1000;
}
#nav {
    /*width: calc(100% - 24px);*/
    max-width: 1280px;
    width: calc(100% - 16px);

    display: flex;
    align-items: flex-end;
    gap: 8px;
    

    /* filter: drop-shadow(0px 0px 12px rgba(0,0,0,0.8)); */
    .btn-group{
        display: flex;
        gap: 4px;
    }
}
#logo {
    height: min-content;
    margin: 0 18px 1px 18px;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* flex-grow: 1; */
    border-radius: 8px;
    background-color: var(--ui-dark-1);
    border: 2px solid black;
    height: calc(var(--card-height) + 8px);
}
.divider{
    background-color: black;
    width: 2px;
    align-self: stretch;
}
.nav-button{
    border: none;
    border-radius: 0;
    height: calc(var(--card-height) + 8px);
    padding: 0 14px;
    min-width: 0;
}

.stat {
    height: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}
.stat-container {
    height: 32px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

    margin: 0 0 0 24px;
}

#hand {
    flex-grow: 1;
    flex-shrink: 1;

    height: calc(var(--card-height) + 8px);

    width: 100%;
    min-width: 480px;
    /*max-width: 800px;*/

    display: flex;
    gap: 2px;

    padding: 4px;

    /* background: linear-gradient(to top, var(--w20), transparent); */
    background-color: var(--w20);
    /*border: 2px solid white;*/
    border-radius: 8px;
    z-index: 13;

    overflow-x: scroll;
    overflow-y: hidden;

    /* transition: all 0.4s; */
}
.hand-shrink{
    height: calc(var(--card-height) - 24px) !important;
}
#menu-container{
    position: relative;
}
#menu{
    position: absolute;
    bottom: 72px;
    right: -2px;
    z-index: 2;

    background-color: rgb(36, 36, 36);
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
    width: 180px;

    display: flex;
    flex-direction: column;
    gap: 4px;
}


/* Alert notification */
#alert{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 8px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: calc(100% - 16px);
    max-width: 400px;
    min-height: 62px;
    
    border-radius: 4px;
    z-index: 10000;

    background-color: black;
    font-size: 14px;

    cursor: pointer;
    transition: all 300ms;

}
#alert p {
    margin: 12px 0 12px 12px; 
}
#alert img {
    margin: 8px;
    background-color: var(--w0);
}
#alert:hover{
    background-color: var(--b80);
}