/*Modals*/
    #modal-wrapper{
        /*background-color: rgba(0,244,0,0.2);*/

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        max-width: 1800px;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;

        z-index: 100;
        pointer-events: none;
        padding: 48px;
    }
        #modal-wrapper *{
            pointer-events: all;
        }

    .modal{
        z-index: 10;
        position: relative;
    }
        .modal-container{
            background-color: var(--modal-bg);
            min-width: 320px;
            height: 480px;
            overflow: hidden;

            display: flex;
            flex-direction: column;
        }
            .modal-nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 64px;

                position: relative;

                padding: 0 0 0 24px;
                background-color: var(--w20);
            }
                .modal-heading{
                    margin-bottom: 2px;
                }
                .close-btn{
                    width: 64px;
                    height: 64px;

                    border-radius: 0;
                }
            .modal-body{
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                gap: 24px;
                margin: 24px;
            }
                .modal .btn-container{
                    display: flex;
                    gap: 8px;
                    flex-direction: column;

                    padding: 24px 24px 24px 24px;
                }



/* Builder */
    #builders .modal-container{
            display: flex;
            flex-direction: column;

            height: 480px;
            max-width: 728px;

            background-color: black;
    }
    #builders .modal-nav {
        background-color: #000;
        width: 100%;
    }
    .modal .structures-container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2px;

        flex-shrink: 1;
       
        height: 100%;

        overflow-y: auto;

        margin: 2px;
        padding: 0;
    }

    .btn-structure{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        height: 124px;
        width: 240px;

        position: relative;
        background-color: var(--ui-dark-2);

        overflow: hidden;
        border: none;

        padding: 0;
    }
    .btn-structure .data-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;

        width: 100%;
        max-width: 200px;
        height: 100%;
        text-align: left;

        padding: 12px;
    }
    .btn-structure .data-container .description{
        font-size: 14px;
        line-height: 20px;
        opacity: 0.7;

        flex-grow: 1;
    }
    .btn-structure .data-container h3{
    
        font-family: 'Arial', sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
    }
    
    .btn-structure .btn-text{
        font-size: 18px;
    }
    .btn-structure .sprite-container{
        position: absolute;
        left: 192px;
        bottom: -3px;

        img{
            padding-bottom: 0;
        }
    }

    .building-cost-container{
        display: flex;
        height: 24px;
    }
    .building-cost-container p{
        width: 25px;
        font-size: 14px;
       
    }
    .building-cost-container .sprite-container img{
        padding: 3px;   
    }
    


/* Research modal */
    #research{
        display: flex;  
        justify-content: center;
        gap: 24px;
    }
    .contract-container{
        display: flex;
        flex-direction: column;

        width: 400px;

        background-color: var(--modal-bg);
        box-shadow: 0px 0px 36px var(--b20);
        /*border: 2px solid black;*/

        position: relative;
    }
    .contract-card-container{
        height:min-content;
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    #contract-controls{
        display: flex;
        gap: 4px;
        box-shadow: inset 0px 0px 0px 2px black;
    }
    #contract-controls button {
        height: 72px;
        width: 100%;
        flex-shrink: 1;
    }

/* Inspection table */
    .table-container{
        /* height: 400px; */
        /* width: 800px; */

        display: flex;
        flex-direction: column;
        gap: 48px;

        background-color: #EAE2D0;
        padding: 56px;

        border: 2px solid black;
    }
    #table{
        width: calc(var(--card-width) + 24px);
        height: calc(var(--card-height) + 24px);
        padding: 12px;
        margin-bottom: 12px;

        outline: 2px dashed rgba(0, 0, 0, 0.211);
    }
    #inspector{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        gap: 16px;
        width: 440px;
        /* height: var(--card-height); */
    }